/tools/.venv/
/tools/config/
/tools/font/
/cmake-build-debug/
/docs/run.bat
/docs/node_modules/
/docs/.vitepress/cache/
/.idea/
/demo/dev
/generated/
/MiSans-Normal.ttf
/platform/sdl/lib/
/platform/sdl/cpp.txt
/.config
/.config.old
/tools/.vscode/
